files:
  "/tmp/alamiUpdate.sh"
    mode: "755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -ex
          # This script momentarily unlocks yum repos for security updates
          _MirrorLockedVar='mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list-$guid'
          _MirrorUnlockedVar='mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list'
                          # mirrorlist=http://repo.$awsregion.$awsdomain/$releasever/updates/mirror.list-$guid
          YUM_UPDATE_PACKAGES=$(/opt/elasticbeanstalk/bin/get-config environment -k YUM_UPDATE)

          if ( $YUM_UPDATE_PACKAGES -eq "null" || $YUM_UPDATE_PACKAGES -eq " ")
           then
            sed -i "s@${_MirrorLockedVar}@${_MirrorUnlockedVar}@g" /etc/yum.repos.d/amzn-updates.repo
            sed -i -e 's/releasever=2017.09/releasever=latest/g' /etc/yum.conf
            yum clean all -y
            echo "Updating all packages for security updates"
            yum update --security -y
            sed -i -e 's/releasever=latest/releasever=2017.09/g' /etc/yum.conf
            sed -i "s@${_MirrorUnlockedVar}@${_MirrorLockedVar}@g" /etc/yum.repos.d/amzn-updates.repo
          else
            sed -i "s@${_MirrorLockedVar}@${_MirrorUnlockedVar}@g" /etc/yum.repos.d/amzn-updates.repo
            sed -i -e 's/releasever=2017.09/releasever=latest/g' /etc/yum.conf
            yum clean all -y

          for i in $(echo $YUM_UPDATE_PACKAGES | sed "s/,/g")
           do
            echo "Updating package $i"
            yum update $i --security -y
           done
            sed -i -e 's/releasever=latest/releasever=2017.09/g' /etc/yum.conf
            sed -i "s@${_MirrorUnlockedVar}@${_MirrorLockedVar}@g" /etc/yum.repos.d/amzn-updates.repo
          fi


commands:
  01Run_Yum_Security_Update:
    command: /tmp/YumUpdate.sh
